@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.circles {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: auto;
    justify-content: right;
    display: flex;
    border-right: -100px;
    
}
